@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Regular.woff2") format("woff2"),
    url("../fonts/PublicSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}
body {
  background-color: #f2f2f2;
}
.container {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;
}
header {
  background-color: #fff;
}
header .container {
  display: flex;
  justify-content: space-between;
  padding-top: 19px;
  padding-bottom: 19px;
  align-items: center;
}
header .container .nav a {
  text-decoration: none;
  margin-right: 30px;
  color: #9597a5;
  font-size: 16px;
}

header .container .header-bottom a {
  background: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
  border-radius: 22px;
  width: 163px;
  height: 44px;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.features {
  background-color: #f4f5f7;
}
.features-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.features-item:not(:last-child) {
  margin-right: 30px;
}
.hero {
  padding-top: 250px;
  padding-bottom: 170px;
  background: url(./images/oldi\ fon.png), url(./images/orqa\ fon.png);
  background-repeat: no-repeat;
  background-position: right;
}
.hero-info {
  width: 447px;
}
.hero-title {
  font-size: 56px;
  font-family: "Public Sans", sans-serif;
}
.hero-desdription {
  font-family: "Public Sans", sans-serif;
}
.header-bottom {
  background: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
  border-radius: 22px;
  width: 163px;
  height: 44px;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.featuresh2 {
  font-family: "Public Sans", sans-serif;
}
.features-about {
  font-family: "Public Sans", sans-serif;
}
.articles {
  background-color: #f2f2f2;
  padding-top: 80px;
  padding-bottom: 40px;
}
.articless {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
}
.p-art {
  font-size: 10px;
  font-family: "Public Sans", sans-serif;
}
.articles-img {
  margin: 5px;
  font-family: "Public Sans", sans-serif;
}

.p2-art {
  font-size: 18px;
  font-family: "Public Sans", sans-serif;
}
.p1-art {
  font-size: 20px;
  font-family: "Public Sans", sans-serif;
}

.pasdiv {
  display: flex;
  align-items: center;
  color: white;
  background-color: #002529;
  margin-left: auto;
  height: 191px;
}
